<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addauthor</title>
     <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<style>
    #d2{
        margin-left: 20px;
    }

    #d1{
        width: 600px;
        margin: 150px auto;
    }
    #d3{
        margin-left: 250px;
    }
    #d6{
        width: 540px;
    }
</style>

<div id='d1' class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">添加作者</h3>
  </div>
  <div class="panel-body">


    <form action="addauthor.html" method="post">


    <div id="d2" class="form-group">
        <p></p>
    <label for="exampleInputEmail1">作者姓名</label>
        <p></p>
    <input type="text" class="form-control" id="exampleInputEmail1" name="author_name">
  </div>


     <div id="d2" class="form-group">
        <p></p>
    <label>写的书  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp</label>
     <p></p>

     <select multiple name="books" id="d6">
        {% for i in books  %}
        <option value="{{ i.id }}">{{ i.name }}</option>
        {% endfor %}
    </select>
    <p></p>
         <br>

     <input id="d3" class="btn btn-default" type="submit" >

  </div>
{% csrf_token %}
</form>
{% load myfilter %}
  <p>{% plus '1' '1' '1'%}</p>
<div>{% show 50 %}  </div>
  <p>{{  haha|add2:'gegegege'}} </p>


  </div>
</div>


<script src="/static/jquery-3.2.1.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>
